<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<form action="/result" method="POST">
    <h3>Enter your name:</h3>
    <input type="text" name="username" id="name" required>

    <h3>What is the best programming language?</h3>
    <input type="radio" name="question-0" value="C++"> C++<br>
    <input type="radio" name="question-0" value="Python"> Python<br>
    <input type="radio" name="question-0" value="Golang"> Golang<br>
    <input type="radio" name="question-0" value="C#"> C#<br>

    <h3>Which of these is a programming language?</h3>
    <input type="radio" name="question-1" value="BloodLast"> BloodLast<br>
    <input type="radio" name="question-1" value="Erebus"> Erebus<br>
    <input type="radio" name="question-1" value="Python"> Python<br>
    <input type="radio" name="question-1" value="Linux"> Linux<br>

    <h3>Who created Python programming language?</h3>
    <input type="radio" name="question-2" value="Linus Torvalds"> Linus Torvalds<br>
    <input type="radio" name="question-2" value="Guido van Rossum"> Guido van Rossum<br>
    <input type="radio" name="question-2" value="Mark Zuckerberg"> Mark Zuckerberg<br>
    <input type="radio" name="question-2" value="Chad Meredith Hurley"> Chad Meredith Hurley<br>

    <h3>Who is the richest person in the world?</h3>
    <input type="radio" name="question-3" value="Mark Zuckerberg"> Mark Zuckerberg<br>
    <input type="radio" name="question-3" value="Elon Mask"> Elon Musk<br>
    <input type="radio" name="question-3" value="Jacob Rothschild"> Jacob Rothschild<br>
    <input type="radio" name="question-3" value="Donald Trump"> Donald Trump<br>

    <h3>Which of the following programming languages is a markup language?</h3>
    <input type="radio" name="question-4" value="HTML"> HTML<br>
    <input type="radio" name="question-4" value="Java"> Java<br>
    <input type="radio" name="question-4" value="Ruby"> Ruby<br>
    <input type="radio" name="question-4" value="C+"> C+<br>

    <br>
    <input type="submit" value="Submit">
</form>


